.container{
    display: grid;
    grid-template-rows:auto auto auto;
    grid-template-columns:300px 300px 300px ;
    height: 700px;
    margin-left: 120px;
    margin-top: 40px;
    
    
}
.num{
    background-color:red;
    border: solid white 1px;
    color: white;
    text-align: center;
    font-size: 40px;
align-items: center;



    
}
